@model MonoDataAnnotations.Controllers.HomeController.WithoutUrlAttributeViewModel

@{
    ViewBag.Title = "DataAnnotations in Mono - without [Url] attribute";
}

<h2>@ViewBag.Title</h2>

<p>
    Url: @Model.Url    
</p>
