@model MonoDataAnnotations.Controllers.HomeController.WithUrlAttributeViewModel

@{
    ViewBag.Title = "DataAnnotations in Mono - with [Url] attribute";
}

<h2>@ViewBag.Title</h2>

<p>
    Url: @Model.Url    
</p>
